$grey-border: #bbb;
$grey-border-light: #ccc;
$grey-btn-active: #cdcdcd;
$grey-btn-hover: #dddedf;
$grey-btn-base: #f1f1f1;

$title-color: #333;
$info-color: #999;

$border: 1px solid $grey-border;
$border-light: 1px solid $grey-border-light;

